<h2>{{model.author}} asks:</h2>
<h4>{{model.title}}</h4>
<p>Details: {{model.note}}</p>
{{question-update model=model updateQuestion="updateQuestion"}}
<button {{action 'deleteQuestion' model}}>Delete</button>
<br>

<h4>Answers:</h4>
<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</ul>


{{new-answer saveAnswer="saveAnswer" question=model}}
